<form #myForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Unesi ime</mat-label>
        <input matInput type="text" name="txtName" [(ngModel)]="name" required>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="fill">
        <mat-label>Unsesi email</mat-label>
        <input matInput type="email" name="txtEmail" [(ngModel)]="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
      </mat-form-field>
      <br/>
      {{name}}
      <br/>
      <button mat-raised-button color="primary" [disabled]="!myForm.form.valid">Spremi</button>
</form>

<p>Shared variable form: {{shared}}</p><br>
<p>Live variable: {{liveShared}}</p><br>
