
    <ng-container *ngIf="open">
    <h3>{{title}}</h3>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Ime</mat-label>
          <input matInput placeholder="Upišite ime" name="ime" [(ngModel)]="model.ime">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Prezime</mat-label>
          <input matInput placeholder="Upišite prezime" name="prezime" [(ngModel)]="model.prezime">
        </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>Datum rođenja</mat-label>
            <input matInput [matDatepicker]="picker" name="datumRodenja" [(ngModel)]="model.datumRodenja">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Adresa</mat-label>
            <textarea matInput
            name="adresa"
            [ngModelOptions]="{standalone: true}"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="model.adresa"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <select matNativeControl name="city" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.grad_ID">
                <option *ngFor="let city of cities" value="{{city.ID}}">{{city.naziv}}</option>
            </select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>OIB</mat-label>
            <input matInput placeholder="Upišite OIB" name="oib" [(ngModel)]="model.OIB">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Upišite email" name="email" [(ngModel)]="model.email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Broj mobitela</mat-label>
            <input matInput placeholder="Upišite broj mobitela" name="brojMobitela" [(ngModel)]="model.brojMobitela">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Stručna sprema</mat-label>
            <select matNativeControl name="qalification" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.strucnaSprema_ID">
                <option *ngFor="let qalification of qalifications" value="{{qalification.ID}}">{{qalification.naziv}}</option>
            </select>
          </mat-form-field>
          
      </form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Odustani</button>
  <button mat-button [mat-dialog-close]="true" (click)="addUser()" cdkFocusInitial *ngIf="!edit">{{button}}</button>
  <button mat-button [mat-dialog-close]="true" (click)="editUser()" cdkFocusInitial *ngIf="edit">{{button}}</button>
</mat-dialog-actions>
</ng-container>