header {
    height: 60px;
    width: 100%;
    background-color: honeydew;

    .logo {
        padding-top: 5px;
        display: block;
        float: left;
        margin-left: 15px;
    }

    .app-menu-container {
        display: block;
        float: right;
        padding-top: 5px;
        margin-right: 15px;
    }
}
