/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.table-users-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    table {
        width: 100%;
    }
}

app-list {
    width: 100%;
}